*{
    box-sizing: border-box;
}
body{
    margin: 0;
    width: 100%;
    background-color:#000114;
    font-family: 'PT sans', sans-serif;
    color: #eee;
    overflow-x: hidden;
    &::-webkit-scrollbar {
        width: 12px;
        background-color: #000; }
      &::-webkit-scrollbar-thumb {
        border-radius: 50px;
        background-color:rgb(65, 243, 122) ; }
}

canvas {
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    z-index: -1;
  }
  li {
    list-style: none; 
  }
  a {
      text-decoration: none;
      color: inherit;
  }
 
  .navbar {
      width: 100%;
      display:flex;
      justify-content: center;
      background-color: #000;
      backdrop-filter: blur(84px);
      position: fixed;
      top: 0;

      .navbar__ul {
          display: flex;
          .navbar__ul-li {
              font-size: 1.1rem;
              padding: 1rem 1.5rem;
              font-weight: 700;
              &:hover {
                transition: all 350ms ease-in-out;
                transform: scale(1.1);
              }
              .navbar__ul-li-a{
                &:hover {
                    transition: all 350ms ease-in-out;
                    border-bottom: 2px solid rgb(65, 243, 122);
                    color: rgb(65, 243, 122);
                }
                .icon {margin-right: 5px;}
              }
            
          }
      }
  }
  .title{
    width: 100%;
    padding: 8rem 3rem;
    margin-bottom: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
        .cont {
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin-bottom:6rem;
            .title__h1 {
                font-size: 5rem;
                color: white;
                font-weight: 600;
                text-shadow: white 0px 0px 20px ;
                margin-bottom: 5px;
            }
            .title__p {
                font-size:2rem;
                font-weight: 700;
            }
        }
   
  }
  .ejercicios {
      width: 100%;
      height: 100vh;
      display: flex;
      justify-content: center;
      h2 {
          color: rgb(65, 243, 122);
          font-size:2.5rem;
          font-weight: 700;
          
      }
      .estudiantes{
          width: 50%;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          li {
              font-size:1.3rem;
              padding: 1rem;
          }
      }
      .avanzados {
          width: 50%;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          li {
            font-size:1.3rem;
            padding: 1rem;
        }
      }
  }