*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
body{
    width: 100%;
    height: 100%;
    background-image: url(img/2000wallpaper.jpg);
    background-repeat: no-repeat;
    background-size: cover;
 }

header{
    width: 100%;
    height: auto;
    position: fixed;
    z-index: 1;
}

header .container__links{
    width: 100%;
    height: auto;
    color:white;
    background: #044541;
    display: flex;
    flex-direction: row wrap;
    align-items: center;
    justify-content: space-around;
    border: .5px solid grey;
    padding: 4px;

}
header .container__links .logo img{
    height: 50px;
}


header .navigation{
    display: flex;
}
header .navigation > nav{
    display: flex;
}
header .navigation > nav > ul{
    display: flex;
    align-items: center;
}
header .navigation > nav > ul > li{
    list-style: none;
}

header .navigation > nav > ul > li > a{
    font-size: .8rem;
    text-decoration: none;
    color: white;
    transition: .3s linear all;
    padding: 8px 15px;
}
header .navigation > nav > ul > li > a:hover{
    border-bottom: 1.5px solid rgb(194, 126, 0);
    color: rgb(194, 126, 0);
}


#container__1{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-flow: column;
    align-items: top;
    padding-top: 63px;
    background-image: url(http://jsoftpuebla.com/TecnoNet/images/web3.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
#container__1::before{
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.61);
    content: '';
    position: absolute;
}


#container__1 h1{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 3.5rem;
    margin: 50px;
    color: white;
    z-index: 0;
}


#container__1 p{
    width: 500px;
    height: 100px;
    color: white;
    text-align: justify;
    padding: 20px;
    margin-left: 100px;
    z-index: 0;
}




.github{
    width: 50%;
    height: auto;
    background-image: url(https://cdn.icon-icons.com/icons2/2351/PNG/512/logo_github_icon_143196.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
}
.github h2{
    color: #1d1d1f;
    font-size: 2rem;
}

.github a{
    color: #1472d0;
    text-decoration: none;
    transition: all linear .2s;
    font-size: 1.3rem;
}
.github a:hover{
    text-decoration: underline;
    padding: 5px 15px;
    background-color: #80d8ff;
    border-radius: 5px;
    color: rgb(95, 95, 95);
    text-decoration: none;
}
.discord{
    width: 50%;
    height: auto;
    background-image: url(https://i.pinimg.com/originals/f4/00/22/f4002257d80c1b2e97407aa33615a4fc.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
}
.discord h2{
    color: black;
    font-size: 2rem;

}

.discord a{
    color: rgb(0, 83, 11);
    text-decoration: none;
    transition: all linear .2s;
    font-size: 1.3rem;

}
.discord a:hover{
    text-decoration: underline;
    padding: 5px 15px;
    background: rgb(224,17,255);
    background: linear-gradient(90deg, rgba(224,17,255,1) 0%, rgba(106,106,255,1) 58%, rgba(0,212,255,1) 100%);
    border-radius: 5px;
    color: yellow;
    text-decoration: none;
}
#homework{
    width: 100%;
    height: auto;
    background-color: rgb(236, 236, 236);
    color: blue;
}
h3{
    font-size: 1.5rem;
    padding: 10px;
}
ol{
    list-style-type: upper-roman;
    list-style-position: inside;
}
ol li{
    color: #2790f4;
    padding: 8px;
}

footer{
    width: 100%;
    height: 100px;
    background-color: #044541;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
    border: 1px solid rgb(189, 189, 189);
    color: #fff;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
}



